

#navbar {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: transparent;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the video: 100% width and height to cover the entire window */
#videoBackground {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: transparent;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
 /*  content: "\f040";
  font-family: "FontAwesome"; */
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.nermap_font_copyright {
  color: #858796;
  text-decoration: none;
}

.nermap_font_copyright :hover {
  color:#c25b4e;
  text-decoration: none;
}

.divWorkplace {
  /* height: 36.7vh; */
  margin-top:23px;
}

.divAnalise {
 /*  height: 19.6vh; */
}

.divMetodologia {
  /* height: 15vh; */
}

@media (max-width: 991px) {
  .divAnalise {
    height: auto;
  }
  .divWorkplace {
    height: auto;
  }
  .divMetodologia {
    height: auto;
  }
}

.button-transparent-aceitar {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 80%;
  font-weight: 400;
  color: #858796; /* #b7b9cc */
  margin-left: -6px;
}

.button-transparent-remover {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-size: 80%;
  font-weight: 400;
  color: #c25b4e;
  margin-left: -6px;
}

.without-before-element:before {
  content: none;
}

.without-after-element:after {
  content: none;
}


  .add-new {
      float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.add-new i {
  margin-right: 4px;
}
  
table.table td a.add {
      color: #27C46B;
  }
  table.table td a.edit {
      color: #FFC107;
  }
  table.table td a.delete {
      color: #E34724;
  }
  table.table td i {
      font-size: 19px;
  }
table.table td a.add i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }    
  table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}

#tableAutores * {
  border-collapse: collapse; 
  border: none;
}

#tableAutoresEdicao * {
  border-collapse: collapse; 
  border: none;
}

.truncated {
  display: block;
  white-space: nowrap; /* forces text to single line */
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    /* text-shadow:0.5px 0.5px #717384, 0.5px 0.5px #717384, .1em .1em .2em rgba(0,0,0,.5); */
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #5a5c69;
 
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #717384;
  
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #717384;
 
}

.rating > label:active {
    position:relative;

}

div.container4 {
  height: 10em;
  position: relative }
div.container4 p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) }

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.footer-home {
  position:absolute;
  bottom:0;
  width:auto;
}

#footer {
  position:absolute;
  bottom:0;
  width:100%;
}

.wrapper1 {
  background:/*  #FFFFFF url(../img/fundoSistema2.png) repeat; */
}

.wrapper1.style1 {
  color: #c1c5cb;
}

.wrapper1.style1 .features li {
  border-color: lightgray;
  color: #858796;
}

.inner {
  margin: 0 auto;
  max-width: calc(100% - 10rem);
  width: 80rem;
}

.features {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  cursor: default;
  list-style: none;
  margin-bottom: 5.5rem;
  margin-left: -1.375rem;
  padding-left: 0;
}

.features li {
  border-right: 1px solid;
  margin-left: 2.75rem;
  padding-right: 2.75rem;
  text-align: center;
  max-width: 355px;
}

.features li:last-child {
  border: none;
}

.features .triangle {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-image: url(assets/css/images/triangle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10rem;
  height: 8rem;
  margin: 0 auto 2.75rem auto;
  width: 10rem;
}

hr.nermap_double_line {
  border: 0;
  height: 0;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #EEEEEE;
}

.main-background {
  background: #FFFFFF url(../img/fundoSistema2.png) repeat;
}

input[type=text], input[type=password]{
  border: 0.5px solid lightgray !important;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#btnFiltroAssunto:focus {
  border: none !important;
  outline: none !important;
  text-transform: none !important;
}

#btnCalendar:focus {
  border: none !important;
  outline: none !important;
  text-transform: none !important;
}