.scroll-select-container {
  height: 50%;
  overflow: hidden;
  font-size: 12px;
  line-height: 30px;
  position: relative;
}
.scroll-select-container ul{
  padding: 60px 0;
}
.scroll-select-container .scroll-select {
  margin: 0px;
}
.scroll-select li {
  user-select: none;
  padding: 0px;
  list-style: none;
  text-align: center;
  padding: 0;
}

.scroll-select {
  margin-top: -38px !important;
}

.scroll-select-container .scroll-select-top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
  margin-top: -10px;
  background: linear-gradient(to bottom, transparent, whitesmoke)
}
.scroll-select-container .scroll-select-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  margin-bottom: -10px;
  background: linear-gradient(to top, transparent, whitesmoke)
}
